## Pyspark - Mongodb
```
$ apt-get install apache-spark
$ export PYSPARK_DRIVER_PYTHON=jupyter-notebook
$ pyspark --packages org.mongodb.spark:mongo-spark-connector_2.11:2.2.0
```

In [1]:
spark

In [2]:
df = (spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", "mongodb://localhost/twitter.sample").load())

21/11/06 21:52:42 WARN Utils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.

In [3]:
df.createOrReplaceTempView('tweets')

In [ ]:
query = '''
SELECT lang, count(*) count
FROM tweets 
WHERE delete IS NULL 
GROUP BY 1
ORDER